body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2, h3 {
    color: #004080;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

thead tr {
    background-color: #004080;
    color: #fff;
    font-weight: bold;
}

thead th:nth-child(1) { background-color: #003366; } 
thead th:nth-child(2) { background-color: #0059b3; } 
thead th:nth-child(3) { background-color: #0073e6; } 
thead th:nth-child(4) { background-color: #3399ff; } 
thead th:nth-child(5) { background-color: #66b3ff; } 
thead th:nth-child(6) { background-color: #99ccff; /*  }
thead th:nth-child(7) { background-color: #cce6ff; color:#004080; /* APLICACIÓN */ }


tbody tr:nth-child(even) {
    background-color: #f2f9ff;
}

tbody tr:hover {
    background-color: #d0e7ff;
    cursor: pointer;
}


td, th {
    padding: 8px 10px;
    text-align: left;
    border: 1px solid #ccc;
}


td:nth-child(6) {
    text-align: right;
}


p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    max-width: 900px;
}


